.widgets-block{

    width: 90%;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;

    &__row{

        height: 50%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        padding-left: 5px;

        &-item{

            width: 260px;
        }

        &._row2{
            position: relative;
            top:-14px;
        }

    }

}


