.desktop {

  width: 16%;
  height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  padding-right: 7px;

  &__mail {

    width: 87%;
    height: 118px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px 0 @shadow, 0 2px 6px 0 @shadow;
    border-radius: 2px;

    &-row {

      height: 40px;
      width: 180px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;

      &-text {

        .font-smaller-smaller;

        &._grey {
          color: @silver;
        }

        &._link {
          color: @blue-link;
        }

        &:hover {
          color: @red;
        }

      }

      &-button {

        width: 152px;
        height: 30px;
        .font-smaller-smaller;
        background-color: @dark-silver;
        border-radius: 2px;
        text-align: center;
        vertical-align: middle;
        border: 0;

      }

    }

  }

  &__widget {

    width: 87%;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0 0 2px 0 @shadow, 0 2px 6px 0 @shadow;
    border-radius: 3px;
    position: relative;

    &-under {
      width: 180px;
      height: 100px;
      position: absolute;
      background-image: url("/assets/icons/3dots-horizontal.svg");
      opacity: 0;
      transition: opacity 0.15s 0s;

      &._clicked {
        opacity: 0.3;
      }
    }

    &._animated {
      position: absolute;
      width: 178px;
      height: 100px;
      right: 0px;
      transition: transform 0.15s ease-out;
    }

    &._fixed {
      position: absolute;
      height: 100px;
      right: 0px;
      transform: translateX(-20px);
    }

    &:hover &-under {
      opacity: 0.3;
      transition: opacity 0.55s ease-out 1s;

      &:hover {
        opacity: 1;
        transition: opacity 0s ease-out 1s;
      }
    }

    &:hover > &._animated {
      transform: translateX(-20px);
    }



  }


}
