.desktop {

  width: 203px;
  height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  padding-right: 7px;

  &__mail {

    width: 87%;
    height: 118px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px 0 @shadow, 0 2px 6px 0 @shadow;
    border-radius: 2px;

    &-row {

      height: 40px;
      width: 180px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;

      &-text {

        .font-smaller-smaller;

        &._grey {
          color: @silver;
        }

        &._link {
          color: @blue-link;
        }

        &:hover {
          color: @red;
        }

      }

      &-button {

        width: 152px;
        height: 30px;
        .font-smaller-smaller;
        background-color: @dark-silver;
        border-radius: 2px;
        text-align: center;
        vertical-align: middle;
        border: 0;

      }

    }

  }

  &__widget {

    width: 87%;
    height: 100px;
    position: relative;

    &-content {
      display: flex;
      margin-top: 10px;
      width: 180px;
      height: 100px;
      border-radius: 3px;
      box-sizing: border-box;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1),
      0 2px 6px 0 rgba(0, 0, 0, .1);
      transition: transform 0.2s ease-out;

      &._fixed {
        transform: translate3d(-20px, 0, 0);
      }
    }

    &:hover &-content {
      transform: translate3d(-20px, 0, 0);
    }

    &-under {
      position: absolute;
      top: 10px;
      right: -10px;
      width: 24px;
      height: 24px;
      opacity: 0;

      &._clicked {
        opacity: 0.4;
      }
    }

    &:hover &-under {
      opacity: 0.4;
      transition: opacity 0.15s ease-out 0.35s;

      &:hover {
        opacity: 1;
        transition: opacity 0s ease-out 0s;
        cursor: pointer;
      }
    }
  }


}
