.news-list {

  list-style-type: none;
  position: relative;
  right: 18px;
  top: -5px;

  &__item {
    line-height: 24px;

    &-img{
      vertical-align: middle;
      width: 14px;
      height: 14px;
    }

    &-link{
      text-decoration: none;
      padding-left: 3px;
    }

  }

}
